In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\spoorthi n\appdata\local\programs\python\python313\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\spoorthi n\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\spoorthi n\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\spoorthi n\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\spoorthi n\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\spoorthi n\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
#Create DataFrame (Minimum 10 Records)
data = {
    "Employee_ID": [101,102,103,104,105,106,107,108,109,110],
    "Name": ["Asha","Rahul","Priya","Kiran","Meena","Arjun","Sneha","Vikram","Divya","Rohit"],
    "Department": ["HR","IT","Finance","IT","HR","Finance","IT","HR","Finance","IT"],
    "Salary": [45000,60000,52000,75000,48000,67000,72000,39000,58000,80000]
}

df = pd.DataFrame(data)
print("DataFrame Created:\n")
print(df)

DataFrame Created:

   Employee_ID    Name Department  Salary
0          101    Asha         HR   45000
1          102   Rahul         IT   60000
2          103   Priya    Finance   52000
3          104   Kiran         IT   75000
4          105   Meena         HR   48000
5          106   Arjun    Finance   67000
6          107   Sneha         IT   72000
7          108  Vikram         HR   39000
8          109   Divya    Finance   58000
9          110   Rohit         IT   80000

In [4]:
#First 5, Last 5, Shape, Columns
print("First 5 rows:\n", df.head())
print("\nLast 5 rows:\n", df.tail())
print("\nShape:", df.shape)
print("\nColumn Names:", df.columns)

First 5 rows:
    Employee_ID   Name Department  Salary
0          101   Asha         HR   45000
1          102  Rahul         IT   60000
2          103  Priya    Finance   52000
3          104  Kiran         IT   75000
4          105  Meena         HR   48000

Last 5 rows:
    Employee_ID    Name Department  Salary
5          106   Arjun    Finance   67000
6          107   Sneha         IT   72000
7          108  Vikram         HR   39000
8          109   Divya    Finance   58000
9          110   Rohit         IT   80000

Shape: (10, 4)

Column Names: Index(['Employee_ID', 'Name', 'Department', 'Salary'], dtype='object')

In [5]:
#3 Find highest salary, lowest salary, average salary, and total employee count.
print("Highest Salary:", df["Salary"].max())
print("Lowest Salary:", df["Salary"].min())
print("Average Salary:", df["Salary"].mean())
print("Total Employees:", df["Employee_ID"].count())

Highest Salary: 80000
Lowest Salary: 39000
Average Salary: 59600.0
Total Employees: 10

In [6]:
#4 Find employees earning more than the average salary.
avg_salary = df["Salary"].mean()
print("Employees earning more than average:\n")
print(df[df["Salary"] > avg_salary])

Employees earning more than average:

   Employee_ID   Name Department  Salary
1          102  Rahul         IT   60000
3          104  Kiran         IT   75000
5          106  Arjun    Finance   67000
6          107  Sneha         IT   72000
9          110  Rohit         IT   80000

In [7]:
#5 Filter employees with salary greater than 50,000.
print("Employees with Salary > 50000:\n")
print(df[df["Salary"] > 50000])

Employees with Salary > 50000:

   Employee_ID   Name Department  Salary
1          102  Rahul         IT   60000
2          103  Priya    Finance   52000
3          104  Kiran         IT   75000
5          106  Arjun    Finance   67000
6          107  Sneha         IT   72000
8          109  Divya    Finance   58000
9          110  Rohit         IT   80000

In [8]:
#6 Employees from IT Department
print("Employees from IT Department:\n")
print(df[df["Department"] == "IT"])

Employees from IT Department:

   Employee_ID   Name Department  Salary
1          102  Rahul         IT   60000
3          104  Kiran         IT   75000
6          107  Sneha         IT   72000
9          110  Rohit         IT   80000

In [9]:
#7 Sort by Salary (Ascending & Descending)
print("Ascending Order:\n")
print(df.sort_values("Salary"))

print("\nDescending Order:\n")
print(df.sort_values("Salary", ascending=False))

Ascending Order:

   Employee_ID    Name Department  Salary
7          108  Vikram         HR   39000
0          101    Asha         HR   45000
4          105   Meena         HR   48000
2          103   Priya    Finance   52000
8          109   Divya    Finance   58000
1          102   Rahul         IT   60000
5          106   Arjun    Finance   67000
6          107   Sneha         IT   72000
3          104   Kiran         IT   75000
9          110   Rohit         IT   80000

Descending Order:

   Employee_ID    Name Department  Salary
9          110   Rohit         IT   80000
3          104   Kiran         IT   75000
6          107   Sneha         IT   72000
5          106   Arjun    Finance   67000
1          102   Rahul         IT   60000
8          109   Divya    Finance   58000
2          103   Priya    Finance   52000
4          105   Meena         HR   48000
0          101    Asha         HR   45000
7          108  Vikram         HR   39000

In [10]:
#8 Display top 3 highest paid employees.
print("Top 3 Highest Paid Employees:\n")
print(df.sort_values("Salary", ascending=False).head(3))

Top 3 Highest Paid Employees:

   Employee_ID   Name Department  Salary
9          110  Rohit         IT   80000
3          104  Kiran         IT   75000
6          107  Sneha         IT   72000

In [11]:
#9 Add a Bonus column (10% of salary).
df["Bonus"] = df["Salary"] * 0.10
print(df)

   Employee_ID    Name Department  Salary   Bonus
0          101    Asha         HR   45000  4500.0
1          102   Rahul         IT   60000  6000.0
2          103   Priya    Finance   52000  5200.0
3          104   Kiran         IT   75000  7500.0
4          105   Meena         HR   48000  4800.0
5          106   Arjun    Finance   67000  6700.0
6          107   Sneha         IT   72000  7200.0
7          108  Vikram         HR   39000  3900.0
8          109   Divya    Finance   58000  5800.0
9          110   Rohit         IT   80000  8000.0

In [12]:
#10  Add Total_Pay column (Salary + Bonus).
df["Total_Pay"] = df["Salary"] + df["Bonus"]
print(df)

   Employee_ID    Name Department  Salary   Bonus  Total_Pay
0          101    Asha         HR   45000  4500.0    49500.0
1          102   Rahul         IT   60000  6000.0    66000.0
2          103   Priya    Finance   52000  5200.0    57200.0
3          104   Kiran         IT   75000  7500.0    82500.0
4          105   Meena         HR   48000  4800.0    52800.0
5          106   Arjun    Finance   67000  6700.0    73700.0
6          107   Sneha         IT   72000  7200.0    79200.0
7          108  Vikram         HR   39000  3900.0    42900.0
8          109   Divya    Finance   58000  5800.0    63800.0
9          110   Rohit         IT   80000  8000.0    88000.0

In [13]:
#11 Rename Salary to Basic_Salary.
df.rename(columns={"Salary":"Basic_Salary"}, inplace=True)
print(df)

   Employee_ID    Name Department  Basic_Salary   Bonus  Total_Pay
0          101    Asha         HR         45000  4500.0    49500.0
1          102   Rahul         IT         60000  6000.0    66000.0
2          103   Priya    Finance         52000  5200.0    57200.0
3          104   Kiran         IT         75000  7500.0    82500.0
4          105   Meena         HR         48000  4800.0    52800.0
5          106   Arjun    Finance         67000  6700.0    73700.0
6          107   Sneha         IT         72000  7200.0    79200.0
7          108  Vikram         HR         39000  3900.0    42900.0
8          109   Divya    Finance         58000  5800.0    63800.0
9          110   Rohit         IT         80000  8000.0    88000.0

In [14]:
#12 Convert Employee_ID to string data type.
df["Employee_ID"] = df["Employee_ID"].astype(str)
print(df.dtypes)

Employee_ID      object
Name             object
Department       object
Basic_Salary      int64
Bonus           float64
Total_Pay       float64
dtype: object

In [15]:
#14  Drop the Department column.
df.drop("Department", axis=1, inplace=True)
print(df)

  Employee_ID    Name  Basic_Salary   Bonus  Total_Pay
0         101    Asha         45000  4500.0    49500.0
1         102   Rahul         60000  6000.0    66000.0
2         103   Priya         52000  5200.0    57200.0
3         104   Kiran         75000  7500.0    82500.0
4         105   Meena         48000  4800.0    52800.0
5         106   Arjun         67000  6700.0    73700.0
6         107   Sneha         72000  7200.0    79200.0
7         108  Vikram         39000  3900.0    42900.0
8         109   Divya         58000  5800.0    63800.0
9         110   Rohit         80000  8000.0    88000.0

In [ ]:
# SECTION B: CSV-Based Assessment
#1 Load the provided CSV file using Pandas.

df2 = pd.read_csv("C:/Users/Spoorthi N/OneDrive/Desktop/3rd sem/student_marks_demo.csv")
print("CSV Loaded Successfully\n")
print(df2.head())

CSV Loaded Successfully

   Student_ID   Name  Subject  Marks
0         101  Aarav     Math     78
1         102   Diya  Science     85
2         103  Rohan     Math     62
3         104  Sneha  English     90
4         105  Karan  Science     55

In [17]:
#2 Display first 5 rows, last 5 rows, shape, column names, and data types.
print("First 5 Rows:\n", df2.head())
print("\nLast 5 Rows:\n", df2.tail())
print("\nShape:", df2.shape)
print("\nColumns:", df2.columns)
print("\nData Types:\n", df2.dtypes)

First 5 Rows:
    Student_ID   Name  Subject  Marks
0         101  Aarav     Math     78
1         102   Diya  Science     85
2         103  Rohan     Math     62
3         104  Sneha  English     90
4         105  Karan  Science     55

Last 5 Rows:
     Student_ID    Name  Subject  Marks
10         111   Arjun  Science     91
11         112   Kavya     Math     76
12         113  Manish  English     40
13         114    Isha  Science     59
14         115  Suresh     Math     82

Shape: (15, 4)

Columns: Index(['Student_ID', 'Name', 'Subject', 'Marks'], dtype='object')

Data Types:
 Student_ID     int64
Name          object
Subject       object
Marks          int64
dtype: object

In [18]:
#3 Find maximum marks, minimum marks, and average marks.
print("Maximum Marks:", df2["Marks"].max())
print("Minimum Marks:", df2["Marks"].min())
print("Average Marks:", df2["Marks"].mean())

Maximum Marks: 91
Minimum Marks: 35
Average Marks: 68.53333333333333

In [20]:
#4 Count total number of students.
print("Total Number of Students:", df.shape[0])

Total Number of Students: 10

In [38]:
#5 Calculate average marks

avg_marks = df2["Marks"].mean()

# Filter students who scored above average
above_avg = df2[df2["Marks"] > avg_marks]

# Print results
print("Average Marks:", avg_marks)
print("Number of students above average:", above_avg.shape[0])
print("\nStudents who scored above average:\n")
print(above_avg)

Average Marks: 68.53333333333333
Number of students above average: 8

Students who scored above average:

    Student_ID    Name  Subject  Marks
0          101   Aarav     Math     78
1          102    Diya  Science     85
3          104   Sneha  English     90
6          107   Rahul  English     72
7          108  Ananya  Science     88
10         111   Arjun  Science     91
11         112   Kavya     Math     76
14         115  Suresh     Math     82

In [39]:
#6 Display students who scored more than 70 marks.

students_70 = df2[df2["Marks"] > 70]

print("Students who scored more than 70 marks:\n")
print(students_70)

Students who scored more than 70 marks:

    Student_ID    Name  Subject  Marks
0          101   Aarav     Math     78
1          102    Diya  Science     85
3          104   Sneha  English     90
6          107   Rahul  English     72
7          108  Ananya  Science     88
10         111   Arjun  Science     91
11         112   Kavya     Math     76
14         115  Suresh     Math     82

In [40]:
#7 Display students who scored between 40 and 60 marks.

students_40_60 = df2[(df2["Marks"] >= 40) & (df2["Marks"] <= 60)]

print("Students who scored between 40 and 60 marks:\n")
print(students_40_60)

Students who scored between 40 and 60 marks:

    Student_ID    Name  Subject  Marks
4          105   Karan  Science     55
5          106   Pooja     Math     48
12         113  Manish  English     40
13         114    Isha  Science     59

In [41]:
#8 Sort students by marks in descending order.
sorted_students = df2.sort_values("Marks", ascending=False)

print("Students sorted by marks (Descending Order):\n")
print(sorted_students)

Students sorted by marks (Descending Order):

    Student_ID    Name  Subject  Marks
10         111   Arjun  Science     91
3          104   Sneha  English     90
7          108  Ananya  Science     88
1          102    Diya  Science     85
14         115  Suresh     Math     82
0          101   Aarav     Math     78
11         112   Kavya     Math     76
6          107   Rahul  English     72
9          110    Neha  English     67
2          103   Rohan     Math     62
13         114    Isha  Science     59
4          105   Karan  Science     55
5          106   Pooja     Math     48
12         113  Manish  English     40
8          109  Vikram     Math     35

In [42]:
# 9 Display top 5 highest scoring students.

top5 = df2.sort_values("Marks", ascending=False).head(5)

print("Top 5 Highest Scoring Students:\n")
print(top5)

Top 5 Highest Scoring Students:

    Student_ID    Name  Subject  Marks
10         111   Arjun  Science     91
3          104   Sneha  English     90
7          108  Ananya  Science     88
1          102    Diya  Science     85
14         115  Suresh     Math     82

In [43]:
# 10 Group data by Subject.

grouped = df2.groupby("Subject")

print("Grouped Data (First entry from each group):\n")
print(grouped.first())

Grouped Data (First entry from each group):

         Student_ID   Name  Marks
Subject
English         104  Sneha     90
Math            101  Aarav     78
Science         102   Diya     85

In [44]:

# 11 Calculate average and maximum marks per subject.

avg_marks_subject = df2.groupby("Subject")["Marks"].mean()
max_marks_subject = df2.groupby("Subject")["Marks"].max()

print("Average Marks per Subject:\n", avg_marks_subject)
print("\nMaximum Marks per Subject:\n", max_marks_subject)

Average Marks per Subject:
 Subject
English    67.25
Math       63.50
Science    75.60
Name: Marks, dtype: float64

Maximum Marks per Subject:
 Subject
English    90
Math       82
Science    91
Name: Marks, dtype: int64

In [45]:
# 12 Count number of students in each subject.

count_subject = df2.groupby("Subject")["Name"].count()

print("Number of Students in Each Subject:\n")
print(count_subject)

Number of Students in Each Subject:

Subject
English    4
Math       6
Science    5
Name: Name, dtype: int64

In [46]:
# 13 Identify subject with highest average marks.

subject_avg = df2.groupby("Subject")["Marks"].mean()

highest_subject = subject_avg.idxmax()

print("Subject with Highest Average Marks:", highest_subject)

Subject with Highest Average Marks: Science

In [47]:
# 14 Introduce missing values in Marks column.

df2.loc[0, "Marks"] = None

print("Data After Introducing Missing Value:\n")
print(df2.head())

Data After Introducing Missing Value:

   Student_ID   Name  Subject  Marks
0         101  Aarav     Math    NaN
1         102   Diya  Science   85.0
2         103  Rohan     Math   62.0
3         104  Sneha  English   90.0
4         105  Karan  Science   55.0

In [48]:
# 15 Identify and replace missing values with average marks.

print("Missing Values Before:\n", df2.isnull().sum())

df2["Marks"].fillna(df2["Marks"].mean(), inplace=True)

print("\nMissing Values After:\n", df2.isnull().sum())

Missing Values Before:
 Student_ID    0
Name          0
Subject       0
Marks         1
dtype: int64

Missing Values After:
 Student_ID    0
Name          0
Subject       0
Marks         0
dtype: int64

C:\Users\Spoorthi N\AppData\Local\Temp\ipykernel_10092\3129876410.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2["Marks"].fillna(df2["Marks"].mean(), inplace=True)

In [49]:
# 16 Check and remove duplicate rows.

print("Duplicate Rows Before:", df2.duplicated().sum())

df2.drop_duplicates(inplace=True)

print("Duplicate Rows After:", df2.duplicated().sum())

Duplicate Rows Before: 0
Duplicate Rows After: 0

In [50]:
# 17 Create Result column (Pass if Marks >= 40 else Fail).

df2["Result"] = df2["Marks"].apply(lambda x: "Pass" if x >= 40 else "Fail")

print(df2)

    Student_ID    Name  Subject      Marks Result
0          101   Aarav     Math  67.857143   Pass
1          102    Diya  Science  85.000000   Pass
2          103   Rohan     Math  62.000000   Pass
3          104   Sneha  English  90.000000   Pass
4          105   Karan  Science  55.000000   Pass
5          106   Pooja     Math  48.000000   Pass
6          107   Rahul  English  72.000000   Pass
7          108  Ananya  Science  88.000000   Pass
8          109  Vikram     Math  35.000000   Fail
9          110    Neha  English  67.000000   Pass
10         111   Arjun  Science  91.000000   Pass
11         112   Kavya     Math  76.000000   Pass
12         113  Manish  English  40.000000   Pass
13         114    Isha  Science  59.000000   Pass
14         115  Suresh     Math  82.000000   Pass

In [51]:
# 18 Rename Marks column to Final_Marks.

df2.rename(columns={"Marks": "Final_Marks"}, inplace=True)

print(df2.head())

   Student_ID   Name  Subject  Final_Marks Result
0         101  Aarav     Math    67.857143   Pass
1         102   Diya  Science    85.000000   Pass
2         103  Rohan     Math    62.000000   Pass
3         104  Sneha  English    90.000000   Pass
4         105  Karan  Science    55.000000   Pass

In [52]:

# 19 Drop Subject column.

df2.drop("Subject", axis=1, inplace=True)

print(df2.head())

   Student_ID   Name  Final_Marks Result
0         101  Aarav    67.857143   Pass
1         102   Diya    85.000000   Pass
2         103  Rohan    62.000000   Pass
3         104  Sneha    90.000000   Pass
4         105  Karan    55.000000   Pass

In [53]:
# 20 Export final DataFrame to CSV and read it back.

df2.to_csv("final_output.csv", index=False)

new_df = pd.read_csv("final_output.csv")

print("Re-imported Data:\n")
print(new_df.head())

Re-imported Data:

   Student_ID   Name  Final_Marks Result
0         101  Aarav    67.857143   Pass
1         102   Diya    85.000000   Pass
2         103  Rohan    62.000000   Pass
3         104  Sneha    90.000000   Pass
4         105  Karan    55.000000   Pass

In [54]:
# Bonus 1 Find students having the same highest marks.

# Find highest marks
highest_marks = df2["Final_Marks"].max() if "Final_Marks" in df2.columns else df2["Marks"].max()

# Filter students who have highest marks
top_students = df2[df2["Final_Marks"] == highest_marks] if "Final_Marks" in df2.columns else df2[df2["Marks"] == highest_marks]

print("Highest Marks:", highest_marks)
print("Students with Highest Marks:\n")
print(top_students)

Highest Marks: 91.0
Students with Highest Marks:

    Student_ID   Name  Final_Marks Result
10         111  Arjun         91.0   Pass

In [55]:
# Bonus 2 Create a Grade column based on marks.

# Define grading function
def grade(m):
    if m >= 85:
        return "A"
    elif m >= 70:
        return "B"
    elif m >= 50:
        return "C"
    else:
        return "D"

# Apply grading
if "Final_Marks" in df2.columns:
    df2["Grade"] = df2["Final_Marks"].apply(grade)
else:
    df2["Grade"] = df2["Marks"].apply(grade)

print("Data with Grade Column:\n")
print(df2)

Data with Grade Column:

    Student_ID    Name  Final_Marks Result Grade
0          101   Aarav    67.857143   Pass     C
1          102    Diya    85.000000   Pass     A
2          103   Rohan    62.000000   Pass     C
3          104   Sneha    90.000000   Pass     A
4          105   Karan    55.000000   Pass     C
5          106   Pooja    48.000000   Pass     D
6          107   Rahul    72.000000   Pass     B
7          108  Ananya    88.000000   Pass     A
8          109  Vikram    35.000000   Fail     D
9          110    Neha    67.000000   Pass     C
10         111   Arjun    91.000000   Pass     A
11         112   Kavya    76.000000   Pass     B
12         113  Manish    40.000000   Pass     D
13         114    Isha    59.000000   Pass     C
14         115  Suresh    82.000000   Pass     B

In [56]:
# Bonus 3 Calculate and display pass percentage.

# Create Result column if not already created
if "Result" not in df2.columns:
    if "Final_Marks" in df2.columns:
        df2["Result"] = df2["Final_Marks"].apply(lambda x: "Pass" if x >= 40 else "Fail")
    else:
        df2["Result"] = df2["Marks"].apply(lambda x: "Pass" if x >= 40 else "Fail")

# Calculate pass percentage
pass_count = df2[df2["Result"] == "Pass"].shape[0]
total_students = df2.shape[0]

pass_percentage = (pass_count / total_students) * 100

print("Pass Percentage:", pass_percentage, "%")

Pass Percentage: 93.33333333333333 %